/* JavaFX CSS - Leave this comment until you have at least created one rule which uses -fx-Property */

/* Style for buttons */
.button {
    -fx-background-color: rgba(255.0, 255.0, 255.0, 0.8); /* Sets the background color with transparency (80% opacity). */
    -fx-text-fill: black; /* Sets the text color to black. */
    -fx-padding: 6.0 6.0 6.0 6.0; /* Sets padding on all sides of the button (top, right, bottom, left). */
    -fx-border-radius: 8.0; /* Sets rounded corners for the button with a radius of 8 pixels. */
    -fx-font-weight: bold; /* Makes the font bold. */
}

/* Style for the root container */
.root {
    -fx-background-color: #deb887; /* Sets the background color to a light brown (BurlyWood). */
}